#alert-section{
    .alert-container{
        position: absolute;
        top: 300px;
        right: 0;
        background-color: beige;
        width: 700px;
        h1,
        p{
            text-align: center;
        }

    }
}