$primary-bg: #076585;
$secondary-bg: #ffff;

$bg-gradient: linear-gradient(to right, $primary-bg, $secondary-bg);


// button color 
 $button-1: #0F0C29;
 $button-2: #00C9FF;

//  -CASELLE DELL'OCA (5, 9, 18, 27, 36, 45, 54) ripeti il movimento 
$ghoose: #95DF9D;



// PONTE 6  ripeti il movimento 

$bridge: #71bb78;

// LABIRINTO 42  torna alla 39 

$maze: #D9631A;

// SCHELETRO 58 torna alla casella 1 

$scheleton: #DB0D00;

// end 

$end: #FCEC3F;

// start

$start: #4BF9F9;




