@import './colors';
@import './utilies';
@import './player-number-section';
@import './player-img-section';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: $bg-gradient;
}

.hidden{
    display: none;
}