#player-number-section .player-number-container {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
}
#player-number-section .player-number-container .button-container {
  margin-top: 20px;
}
#player-number-section .player-number-container .button-container button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #00C9FF;
  border: none;
  font-size: 25px;
}
#player-number-section .player-number-container .button-container button:hover {
  font-size: 30px;
  background: #0F0C29;
  color: white;
}

#dice-roll-section {
  margin-top: 5px;
}
#dice-roll-section .dice-roll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#dice-roll-section .dice-roll-container button {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #0F0C29;
  color: white;
  font-size: 30px;
  text-transform: capitalize;
  cursor: pointer;
}
#dice-roll-section .dice-roll-container button:hover {
  box-shadow: 5px 5px 10px white;
}
#dice-roll-section .dice-roll-container img {
  width: 60px;
  height: 60px;
  transform: rotate(30deg);
}

#player-img-section .player-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
}
#player-img-section .player-img-container .img-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#player-img-section .player-img-container .img-container img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}
#player-img-section .player-img-container .img-container img:hover {
  box-shadow: 5px 5px 10px black;
}

#table-game-section {
  margin-top: 30px;
  margin-bottom: 30px;
}
#table-game-section .table-game-container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  width: 650px;
  margin-left: 100px;
}
#table-game-section .table-game-container .table-cell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50px;
  height: 50px;
}
#table-game-section .table-game-container .table-cell img {
  width: 25px;
  height: 25px;
}
#table-game-section .table-game-container .visible-cells {
  border: 0.5px solid black;
}

#dice-roll-animation-section {
  margin-top: 5px;
}
#dice-roll-animation-section .dice-roll-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#winner-section .winner-container {
  position: absolute;
  top: 190px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
}
#winner-section .winner-container button {
  margin-top: 10px;
  width: 140px;
  height: 50px;
  background-color: #00C9FF;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 25px;
  cursor: pointer;
}
#winner-section .winner-container button:hover {
  box-shadow: 5px 5px 10px black;
}
#winner-section .winner-container img {
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 10px black;
}

#alert-section .alert-container {
  position: absolute;
  top: 300px;
  right: 0;
  background-color: beige;
  width: 700px;
}
#alert-section .alert-container h1,
#alert-section .alert-container p {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #076585, white);
}

.hidden {
  display: none;
}

.shake {
  -webkit-animation: shake 0.5s infinite;
          animation: shake 0.5s infinite;
}

@-webkit-keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}/*# sourceMappingURL=style.css.map */